<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson06.dao.FavoriteSiteDAO">
	<insert id="insertFavorite" parameterType="map">
		INSERT INTO `site`
		(
			`name`
			, `url`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{url}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectFavoriteList" resultType="com.quiz.lesson06.model.Site">
		SELECT
			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM
			`site`
	</select>
	
</mapper>