<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.dao.RealEstateDAO">
    <select id="selectRealEstate" resultType="com.quiz.lesson03.model.RealEstate">
       SELECT
           `id`
           ,`realtorId`
           ,`address`
           ,`area`
           ,`type`
           ,`price`
           ,`rentPrice`
           ,`createdAt`
           ,`updatedAt`
       FROM
           `real_estate`
       WHERE
           `id`= #{id}
            
            
    </select>
    
    <insert id="insertRealEstate" parameterType="com.quiz.lesson03.model.RealEstate">
         INSERT INTO `real_estate`
         (
            `realtorId`
           ,`address`
           ,`area`
           ,`type`
           ,`price`
           ,`rentPrice`
           ,`createdAt`
           ,`updatedAt`
         )
         VALUES
         (
           #{realtorId}
           ,#{address}
           ,#{area}
           ,#{type}
           ,#{price}
           ,#{rentPrice}
           ,NOW()
           ,NOW()
         )
         
           
    </insert>
    
    <insert id="insertRealEstateAsField" parameterType="com.quiz.lesson03.model.RealEstate">
         INSERT INTO `real_estate`
         (
            `realtorId`
           ,`address`
           ,`area`
           ,`type`
           ,`price`
           ,`rentPrice`
           ,`createdAt`
           ,`updatedAt`
         )
         VALUES
         (
           #{realtorId}
           ,#{address}
           ,#{area}
           ,#{type}
           ,#{price}
           ,#{rentPrice}
           ,NOW()
           ,NOW()
         )
         
    
    </insert>
    
    <update id="updateRealEstate" parameterType="map">
       UPDATE `real_estate`
       SET
         `type` = #{type}
         ,`price` = #{price}
         ,`updatedAt` = NOW()
       WHERE
         `id` = #{id}
    </update>
    
    <delete id="deleteRealEstateById">
       DELETE FROM `real_estate`
       WHERE
          `id` = #{id}
    </delete>
 </mapper>