<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson06.dao.WeatherHistoryDAO">
    <select id="selectWeatherHistoryList" resultType="com.quiz.lesson06.model.WeatherHistory">
       SELECT
          `date`
          ,`weather`
          ,`temperatures`
          ,`precipitation`
          ,`microDust`
          ,`windSpeed`
          ,`createdAt`
          ,`updatedAt`
       FROM
          `weatherhistory`
    </select>
    
    <insert id="insertWeatherHistory" parameterType="map">
		INSERT INTO
			`weatherhistory`
		(
			`date`
			, `weather`
			, `temperatures`
			, `precipitation`
			, `microDust`
			, `windSpeed`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
			, NOW()
			, NOW()
		)
	</insert>
 </mapper>